<template>
<div>
  <form id="form" v-on:submit.prevent="saveForm">
        Nom:<br><input type="text" required placeholder="Nom" maxlength="30" size="40" v-model="userData.name">
        <br>
        <br>
        <div class="left">
            Primer Cognom:<br><input type="text" required placeholder="Primer Cognom" maxlength="60" size="80" v-model="userData.firstSurname">
            <br>
            <br>
            Tipus de document:<br>
            <select id="document" required v-model="userData.document">
                <option disabled selected value>Tria el tipus de document</option>
                <option v-for="(docu, index) in formData[0].document" :key="index"> {{docu}} </option>
               
            </select>
            <br>
            <br>
            Ets:<br>
            <div v-for="(g, index) in formData[0].genere" :key="index"><input type="radio" name="gender" required v-model="userData.gender">{{g}}</div>
            <br>
            <br>
            Tria el nivell d'estudis:<br>
            <select id="studies" required v-model="userData.studies">
                <option disabled selected value>Nivell d'estudis</option>
                <option v-for="(estudi, index) in formData[0].estudis" :key="index"> {{estudi}} </option>

            </select>
            <br>
            <br>
            Nacionalitats:<br>
            
              
              <label v-for="(nacionalitat, index) in formData[0].nacionalitats" :key="index"> <input type="checkbox"  value="{{nacionalitat}}" v-model="userData.nationalities"> {{nacionalitat}} </label>
            
            
            <br>
            <br>
            Email de contacte:<br>
            <input type="mail" id="mail" v-model="userData.email">
            <br>
            <br>
            Vius a Barcelona?<br>
            <div id="barcelona" >
                <input type="radio" name="barcelona" id="barcelona1" required value="true">Sí
                <input type="radio" name="barcelona" id="barcelona0" required value="false">No
            </div>
            <br>
            <br>
        </div>
        <div class="right">
            Segon Cognom:<br><input type="text" required placeholder="Segon Cognom" maxlength="60" size="80" v-model="userData.secondSurname">
            <br>
            <br>
            Document d'identitat:<br><input type="text" id="documentNumber" required placeholder="Nº document" v-model="userData.documentNumber">
            <br>
            <br>
            Data de naixement:<br><input type="date" required v-model="userData.bornDate">
            <br>
            <br>
            Tria la situació laboral:<br>
            <select id="studies" required v-model="userData.workingSituation">
                <option disabled selected value>Situació laboral</option>
                <option v-for="(p, index) in formData[0].situacio" :key="index">  {{p}} </option>

            </select>
            <br>
            <br>
            Tria un pais<br>
            <select id="studies" required v-model="userData.country">
                <option disabled selected value>Tria un pais</option>
                <option v-for="(p, index) in formData[0].pais" :key="index">  {{p}} </option>
                
            </select>
            <br>
            <br>
            Telèfon de contacte:<br>
            <input type="text" size="10" maxlength="9" v-model="userData.phoneNumber">
        </div>
        <br>
        <br>
        <input type="submit" value="Enviar dades">

        

    </form>

     


  </div>

  


</template>

<script>


import FormDataService from "../services/FormDataService";

export default {
  name: 'Formulari',
  data() {
    return {
      formData : [],
      userData: {
            id: null,
            name: "",
            firstSurname: "",
            secondSurname: "",
            document: "",
            documentNumber: "",
            gender: "",
            bornDate: "",
            studies: "",
            workingSituation: "",
            nationalities: [],
            email: "",
            country: "",
            phoneNumber: null
        }
    };

  },
  methods: {
    retrieveForm() {
      console.log('hola');
      FormDataService.getFormData()
        .then(response => {
          this.formData = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    saveForm() {
        var userData = {
            name: this.userData.name,
            firstSurname: this.userData.firstSurname,
            secondSurname: this.userData.secondSurname,
            document: this.userData.document,
            documentNumber: this.userData.documentNumber,
            gender: this.userData.gender,
            bornDate: this.userData.bornDate,
            studies: this.userData.studies,
            workingSituation: this.userData.workingSituation,
            nationalities: this.userData.nationalities,
            email: this.userData.email,
            country: this.userData.country,
            phoneNumber: this.userData.phoneNumber
        }
        FormDataService.createFormEntry(userData)
            .then(response => {
                this.userData.id = response.data.id;
                console.log(response.data);
            });
      }
  },
  mounted() {
    this.retrieveForm();

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.left  {
    float: left;
    margin-right: 1em;
}

.right {   
}
</style>
